/* You can add global styles to this file, and also import other style files */
@import "loading-spinner.scss";
@import "prime-ng-style.scss";

html {
  height: 100%;
  //width: max-content;
}

body {
  display: block;
  margin: 0px;
  height: calc(100% - 45px);
  min-height: calc(100% - 45px);
  min-width: 100%;
  overflow-y: scroll;
  width: max-content;
}

.main-wrapper {
}

.router-outlet-wrapper {
  margin-top: 45px;
}


#main-loading-spinner.uil-ring-css {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
  padding: 18% 0%;
}

#main-loading-spinner.uil-ring-css > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 160px;
  height: 160px;
}
