<div class="user-dashboard-wrapper">

  <p-dataTable [value]="postbacks._embedded.data" *ngIf="postbacks">
    <p-column field="id" header="ID" [sortable]="true"></p-column>
    <p-column field="prefix" header="Prefix"></p-column>
    <p-column field="afid" header="AfID"></p-column>
    <p-column field="" header="Buyer"></p-column>
    <p-column field="date" header="Date"></p-column>
    <p-column field="time" header="Time"></p-column>
    <p-column field="date" header="Created"></p-column>
    <p-column field="sum" header="Payout"></p-column>
    <p-column field="currency" header="Currency"></p-column>
    <p-column field="offerid" header="Offer ID "></p-column>
    <p-column field="offername" header="Offer Name"></p-column>
    <p-column field="idc" header="ComID"></p-column>
    <p-column field="ido" header="OID"></p-column>
    <p-column field="t1" header="Token T1"></p-column>
    <p-column field="t2" header="Token T2"></p-column>
    <p-column field="t3" header="Token T3"></p-column>
    <p-column field="t4" header="Token T4"></p-column>
    <p-column field="t5" header="Token T5"></p-column>
    <p-column field="t6" header="Token T6"></p-column>
    <p-column field="t7" header="Token T7"></p-column>
    <p-column field="t8" header="Token T8"></p-column>
    <p-column field="t9" header="Token T9"></p-column>
    <p-column field="t10" header="Token T10"></p-column>
    <p-column field="clickid" header="Click ID"></p-column>
    <p-column field="transaction_id" header="Transaction ID"></p-column>
    <p-column field="duplicate" header="Duplicate"></p-column>

  </p-dataTable>

</div>
